1. Import pandas as pd.
2. Use the pre-defined lists to create a dictionary called my_dict. There should be three key value pairs:<br/>
key 'country' and value names.<br/>
key 'drives_right' and value dr.<br/>
key 'cars_per_cap' and value cpc.<br/>
3. Use pd.DataFrame() to turn your dict into a DataFrame called cars.
4. Print out cars and see how beautiful it is.

In [19]:
# Pre-defined lists
names = ['United States', 'Australia', 'Japan', 'India', 'Russia', 'Morocco', 'Egypt']
dr =  [True, False, False, False, True, True, True]
cpc = [809, 731, 588, 18, 200, 70, 45]

# Import pandas as pd
import pandas as pd

# Create dictionary my_dict with three key:value pairs: my_dict
my_dict={'country':names,'drives_right':dr,'cars_per_cap':cpc}

# Build a DataFrame cars from my_dict: cars
cars=pd.DataFrame(my_dict)

# Print cars
print(cars)

         country  drives_right  cars_per_cap
0  United States          True           809
1      Australia         False           731
2          Japan         False           588
3          India         False            18
4         Russia          True           200
5        Morocco          True            70
6          Egypt          True            45

In [5]:
import pandas as pd
names = ['United States', 'Australia', 'Japan', 'India', 'Russia', 'Morocco', 'Egypt']
cpc = [809, 731, 588, 18, 200, 70, 45]
dr =  [True, False, False, False, True, True, True]

# Build a DataFrame cars from my_dict: cars
cars=pd.DataFrame([names,cpc,dr])

In [6]:
cars

               0          1      2      3       4        5      6
0  United States  Australia  Japan  India  Russia  Morocco  Egypt
1            809        731    588     18     200       70     45
2           True      False  False  False    True     True   True

In [20]:
cars.iloc[2:6,1:]

   drives_right  cars_per_cap
2         False           588
3         False            18
4          True           200
5          True            70